<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Exhibition Dates
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>
  <ion-card-header>
    <ion-card-title>Upcoming Exhibitions In April</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-accordion-group expand="inset">
      <ion-accordion value="first">
        <ion-item slot="header" color="rose">
          <ion-label>First Week</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          05-04-2023: Exhibition On Paintings
        </div>
        <div class="ion-padding" slot="content">
          07-04-2023: Exhibition On 3D Arts
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="rose">
          <ion-label>Second Week</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          12-04-2023: Van Gogh's Exhibition
        </div>
        <div class="ion-padding" slot="content">
          16-04-2023: The Da Vinci Era
        </div>
        <div class="ion-padding" slot="content">
          17-04-2023: Michelangelo Magic
        </div>
        <div class="ion-padding" slot="content">
          18-04-2023: Dali Ciao
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="rose">
          <ion-label>Third Week</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          23-04-2023: Tribute To MF HUSSAIN
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="rose">
          <ion-label>Fourth Week</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          30-04-2023: Tribute To Jamini Roy
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-content>
</ion-card>



<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Visit us @insta.com
    </ion-title>
  </ion-toolbar>